.places {
    display: block;
    text-align: center;
    margin 45px auto;
}
.places h1{
    text-align: left;
    vertical-align: Top;
    font-size: 30px;
}
.places article{
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.place article h2 {
	font-size: 30px;
	padding: 0px;
	margin: auto;
}
